# Ignore all `.log` files
*.log

# Ignore the `node_modules` directory
node_modules/

# Ignore OS-specific files
.DS_Store

# Ignore environment files
.env

ارزیابی.docx
فصل1- فصل 2.docx

DUTS/
pdf/
images/